@model ICollection<VotingViewModel>

<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Creator</th>
                    <th>Receiver</th>
                    <th>Closing Date</th>
                    <th>Presents</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayForModel()
            </tbody>
        </table>
    </div>
</div>
